.content
    font-size 2em
    color $gray-light
    .hourlyTable
    	border $gray-dark 1px solid
    	text-align center
    	margin-right 15px
    	padding 5px
    	tr td
    		padding 5px
	.dailyTable
		border $gray-dark 1px solid
		margin-top 1em
		width 100%
		tr td
			padding 5px
		img
			height 50px
		.minTemp
			color $gray-dark
		.rainText
			font-size $font-size-small